<div class="user-body-container">
  <mat-card class="user-body">
    <div class="split-child">
      <mat-card class="user-body-child2">
        <div class="split-child-child">
          <p>2 admin-ngo works!</p>
          Total rows: {{ getRowsValue(null) }} <br />
          State Active (true): {{ getRowsValue(true) }} <br />
          State Inactive (false): {{ getRowsValue(false) }}
        </div>
      </mat-card>
    </div>
    <div class="split-parent">
      <div class="split-child">
        <mat-card class="user-body-child1">
          <mat-card-title>View All registered NGO's here</mat-card-title>
          <div class="example-table-container">
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="data" class="mat-elevation-z8">
                <ng-container matColumnDef="ngoId">
                  <th mat-header-cell *matHeaderCellDef>Serial Id</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.ngoId }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>NGO Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.name }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef>E-Mail</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.email }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="address">
                  <th mat-header-cell *matHeaderCellDef>Address</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.address }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>Description</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.description }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="contact">
                  <th mat-header-cell *matHeaderCellDef>Contact</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.contact }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="verified">
                  <th mat-header-cell *matHeaderCellDef>Verification</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.verified }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>toggle</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle
                      [checked]="element.activate"
                      (change)="updateActiveStatus(element)"
                    ></mat-slide-toggle>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: columnsToDisplay"
                ></tr>
              </table>
              <mat-paginator
                #paginator
                [length]="data?.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 20]"
                aria-label="Select page"
              >
              </mat-paginator>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-card>
  <router-outlet></router-outlet>
</div>
