/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --primary-color: #112d4e;
  --accent-color: #3f72af;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #eeeeee;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
