
<span class = "field-row">
<div class="container">
    <h2>{{ngo.name}}</h2>
    <p>{{ngo.description}}</p>
    <p>{{ngo.email}} {{ngo.contact}}</p>
    <p>{{ngo.address}}</p>
</div>
<div class="container">
    <img src="../../../assets/ngo/women-empowerment-4.jpg">
</div>
</span>
courses: {{ngoStatus.courses}}<br>
learners: {{ngoStatus.learners}}<br>
accomodations: {{ngoStatus.accomodations}}<br>
residents: {{ngoStatus.residents}}<br>
dayCareCenters: {{ngoStatus.dayCareCenters}}<br>
nextCourseStarts: {{ngoStatus.nextCourseStarts || "no course Created yet"}}<br>
courseFinished: {{ngoStatus.courseFinished}}<br>