<div class="user-body-container">
  <mat-card class="user-body">
    <div class="split-child">
      <mat-card class="user-body-child2">
        <div class="split-child-child">
          <div class="head">
            Total Sukanya Yojana Owners : {{ getRowsValue(null) }}
          </div>
          <br />
          <div class="subhead">
            Users Verified : {{ getRowsValue(true) }} <br />
            Users Not Verified : {{ getRowsValue(false) }}
          </div>
        </div>
      </mat-card>
    </div>
    <div class="split-parent">
      <div class="split-child">
        <mat-card class="user-body-child1">
          <mat-card-title
            >View All registered Sukanya Yojana Owners here</mat-card-title
          >
          <div class="example-table-container">
            <div class="mat-elevation-z8">
              <table
                mat-table
                [dataSource]="data"
                class="mat-elevation-z8"
                style="background-color: rgb(206, 238, 248); margin-top: 20px"
              >
                <ng-container matColumnDef="accountId">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="font-size: 13px; font-weight: 800"
                  >
                    Serial Id
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    style="background-color: rgb(212, 236, 228)"
                  >
                    {{ element.accountId }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="beneficiaryName">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="font-size: 13px; font-weight: 800"
                  >
                    Beneficiary Name
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    style="background-color: rgb(212, 236, 228)"
                  >
                    {{ element.beneficiaryName }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="dob">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="font-size: 13px; font-weight: 800"
                  >
                    Date-Of-Birth
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    style="background-color: rgb(212, 236, 228)"
                  >
                    {{ element.dob }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="adharNo">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="font-size: 13px; font-weight: 800"
                  >
                    Aadhaar No
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    style="background-color: rgb(212, 236, 228)"
                  >
                    {{ element.adharNo }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="registrationDate">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="font-size: 13px; font-weight: 800"
                  >
                    Registration Date
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    style="background-color: rgb(212, 236, 228)"
                  >
                    {{ element.registrationDate }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="doc">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="font-size: 13px; font-weight: 800"
                    style="font-size: 13px; font-weight: 800"
                  >
                    Documents
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    style="background-color: rgb(212, 236, 228)"
                  >
                    <button
                      (click)="Doc(element.accountId)"
                      mat-button
                      style="background-color: rgb(148, 234, 205)"
                    >
                      View
                    </button>
                  </td>
                </ng-container>
                <ng-container matColumnDef="user">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="font-size: 13px; font-weight: 800"
                  >
                    Owner
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    style="background-color: rgb(212, 236, 228)"
                  >
                    {{ element.user }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="verified">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="font-size: 13px; font-weight: 800"
                  >
                    Verification
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    style="background-color: rgb(212, 236, 228)"
                  >
                    {{ element.verified }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="font-size: 13px; font-weight: 800"
                  ></th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    style="background-color: rgb(212, 236, 228)"
                  >
                    <mat-slide-toggle
                      [checked]="element.verified"
                      (change)="updateActiveStatus(element)"
                    ></mat-slide-toggle>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: columnsToDisplay"
                ></tr>
              </table>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-card>
  <router-outlet></router-outlet>
</div>
