.container{
    margin: auto;
    align-content: center;
}

.elevated-container{
    margin: auto;
    min-width: 250px;
    width: 40%;
    background-color: whitesmoke;
    margin-bottom: 1em;
    padding-inline: 10px;
    padding-block: 12px;
    padding-block-end: 25px;
    box-shadow: inset 0 0 20px #000000;
    border-radius: 10px;
    margin-top: 2rem;
}
.title-container{
    border-bottom: 3px blue solid;
    margin-bottom: 10px;
}
.loginButton{ 
    margin: auto;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin-top: 1em;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.loginInput{
    border-radius: 4px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
h2{
    margin-bottom: 0;
}

.user-body-container {
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user-body {
    width: 60%;
    height: 70%;
    /* background-color: white; */
    padding: 2rem 3rem;
  }
  
  .form-style {
    display: flex;
    flex-direction: column;
  }
  
  .headig-underline {
    margin: 0.5rem 0;
    border: none;
    border-top-color: var(--primary-color);
    border-top-style: solid;
    border-top-width: 3px;
  }
  
  .form-submit-button {
    margin: 1rem 0;
  }
  
  .form-switch-button {
    margin: 0 1rem;
  }
  
  .fields-row {
    display: flex;
    justify-content: space-between;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .form-field-space {
    margin: 2%;
  }
  
  .radio-btn-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  
  mat-radio-button {
    margin: 1rem;
  }
  
  .register-form {
    height: 85%;
    width: 100%;
    overflow-y: scroll;
  }
  
  .register-form::-webkit-scrollbar {
    display: none;
  }
  
  .register-form {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .login-form{
    
  }