<div class="user-body-container" style="padding: 1em;">
    <mat-card class="user-body">
        <div *ngIf="isLoginForm; else elseBlock">
            <div class="login-form">
                <h2>Login</h2>
                <hr class="headig-underline" />
                <form action="" class="form-style" (ngSubmit)="login()">
                    <mat-form-field appearance="standard">
                        <mat-label>Username</mat-label>
                        <input matInput type="email" name="email" [(ngModel)]="ngo.username" />
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="showLoginPassword ? 'text' : 'password'" name="password"
                            [(ngModel)]="ngo.password" />
                        <mat-icon matSuffix (click)="toggleLoginPasswordVisibility()">
                            {{ showLoginPassword ? "visibility_off" : "visibility" }}
                        </mat-icon>
                    </mat-form-field>

                    <button class="form-submit-button" mat-raised-button color="primary">
                        Login
                    </button>
                </form>
                <span>Not a member?</span><button class="form-switch-button" mat-raised-button color="accent"
                    (click)="showRegisterPage()">
                    Register
                </button>
            </div>
        </div>
        <ng-template #elseBlock>
            <h2>Register</h2>
            <hr class="headig-underline" />
            <div class="register-form">
                <form action="" class="form-style" (ngSubmit)="register()">
                    <span class="fields-row">
                        <mat-form-field appearance="standard">
                            <mat-label>Name</mat-label>
                            <input matInput [(ngModel)]="regngo.name" name="name" />
                        </mat-form-field>
                        <span class="form-field-space"></span>
                    </span>

                    <span class="fields-row">
                        <mat-form-field appearance="standard">
                            <mat-label>Email</mat-label>
                            <input matInput [(ngModel)]="regngo.email" name="email" />
                        </mat-form-field>
                        <span class="form-field-space"></span>
                        <mat-form-field appearance="standard">
                            <mat-label>Contact Number</mat-label>
                            <input matInput [(ngModel)]="regngo.contact" name="contact" />
                        </mat-form-field>
                    </span>
                    <span class="fields-row">
                        <mat-form-field appearance="standard">
                            <mat-label>Password</mat-label>
                            <input matInput [type]="showRegisterPassword ? 'text' : 'password'" name="password"
                                [(ngModel)]="regngo.password" name = "password"/>
                            <mat-icon matSuffix (click)="toggleRegisterPasswordVisibility()">
                                {{ showRegisterPassword ? "visibility_off" : "visibility" }}
                            </mat-icon>
                        </mat-form-field>
                        <span class="form-field-space"></span>
                        <mat-form-field appearance="standard">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput [type]="showRegisterConfirmPassword ? 'text' : 'password'"
                                name="confirmPassword" />
                            <mat-icon matSuffix (click)="toggleRegisterConfirmPasswordVisibility()">
                                {{
                                showRegisterConfirmPassword ? "visibility_off" : "visibility"
                                }}
                            </mat-icon>
                        </mat-form-field>
                    </span>
                    <span class="fields-row">
                        <mat-form-field appearance="standard">
                            <mat-label>Description</mat-label>
                            <input matInput [(ngModel)]="regngo.description" name="description"/>
                        </mat-form-field>
                    </span>
                    <span class="fields-row">
                        <mat-form-field appearance="standard">
                            <mat-label>Address</mat-label>
                            <input matInput [(ngModel)]="regngo.address" name="address"/>
                        </mat-form-field>
                    </span>

                    <button class="form-submit-button" mat-raised-button color="primary">
                        Register
                    </button>
                </form>
                <span>Already a member?</span><button class="form-switch-button" mat-raised-button color="accent"
                    (click)="showRegisterPage()">
                    Login
                </button>
            </div>
        </ng-template>
    </mat-card>
</div>
<!-- <div class="container">
    <div class="elevated-container">
        <div class="main">
            <div class="card">
                <div class="title-container">
                    <h2>NGO Login</h2>
                </div>
                <form #loginForm="ngForm" (ngSubmit)="login()">

                    <div class="container">
                        <div *ngIf="errorMessage" style="color: red;">
                            {{errorMessage}}
                        </div>
                        <div>
                            <label for="uname"><b>Username</b></label>
                        </div>
                        <div>
                        <input type="text" class = "loginInput"  placeholder="Enter Username" name="userName" required name="userName"
                            [(ngModel)]="ngo.username" #uname=ngModel pattern="[a-zA-Z]*$">
                        <div *ngIf="uname.invalid && (uname.dirty || uname.touched)">
                            <div *ngIf="uname.errors?.['required']" style="color:red">Enter name</div>
                            <div *ngIf="uname.errors?.['pattern']" style="color:red">Invalid name</div>
                        </div>
                    </div>
                    <div>
                        <label for="psw"><b>Password</b></label>
                    </div>
                    <div>
                        <input class = "loginInput" type="password" placeholder="Enter Password" name="password" required name="password"
                            [(ngModel)]="ngo.password" #upass=ngModel>
                        <div *ngIf="upass.invalid && (upass.dirty || upass.touched)">
                            <div *ngIf="upass.errors?.['required']" style="color:red">Enter password</div>
                        </div>
                    </div>
                        <button type="submit" class="loginButton">Login</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div> -->