
<table style="width: 100%;" border="0" align="center">
  <tbody>
    <tr>
      <td style="width: 500px;" colspan="4" valign="top">
        <p>
          <strong>
          <span style="color: #112D4E;">Adequate Policy And Legal Framework</span></strong>
        </p>
        <p>The adoption of an adequate institutional and legislative framework at national and regional level is the first priority and condition for an effective firearms control regime and the basis of an efficient criminal justice response to the illicit manufacturing of and trafficking in firearms, their parts and components and ammunition. The Legislative and Policy Development component constitutes therefore the first pillar of the Global Firearms Programme's (GFP) integrated approach to address the above-mentioned phenomena.
        <br />
        <br />Since its creation in 2011, the GFP has been promoting adherence to and implementation of the United Nations Convention Against Transnational Organized Crime (UNTOC), its supplementing Firearms Protocol and related global and regional instruments on conventional arms. The GFP has also supported regional legislative harmonization efforts and the adoption of national and regional action plans for the implementation of the aforementioned instruments.
        <br />
        <br />Upon request and in line with its mandate, the Programme has further been providing legislative assistance to countries wishing to harmonize their legislation with the UNTOC and the Firearms Protocol.
        <br />
        <br />In this context, it is crucial to note that transposition into law of the Firearms Protocol should not be regarded in isolation. Therefore, when providing legislative assistance to Member States, the GFP also takes into account other instruments on conventional arms (eg. the UN PoA, ITI, ATT, OAS CIFTA Convention, the ECOWAS Convention etc.) and instruments and policies on criminal justice (national criminal codes, etc.).
        <br />
        <br />GFP's support is based on an participatory process in which interested Member States carry out a legislative self-assessments, using questionnaires developed by UNODC. This information constitutes the essence of GFP's legislative assessment reports, gap analyses and recommendations for States to strengthen their national legislation on firearms, their parts and components and ammunition as well as other conventional weapons. Where requested, GFP further provides tailored legal drafting support.
        <br />
        <br />To facilitate the delivery of such assistance the Programme has developed several 
        <a href="/unodc/en/firearms-protocol/publications.html">legislative tools</a>. Regional harmonization efforts, have also been encouraged  through the development of legislative 
        <a href="/unodc/en/firearms-protocol/publications.html">comparative analyses</a> and the creation of dialogue platforms such as regional meetings and conferences.
        <br /> </p>
      </td>
    </tr>
  </tbody>
</table>