    <div class="container">
        <div class="breadcrumb"><a href="/">Home</a><span> &gt;&gt;
        </span><a href="/about-us">About Us</a><span> &gt;&gt; </span><span>About The Ministry</span></div>
        <h1>About the Ministry</h1>
        <hr>
        <div style="text-align:justify;">
            <h2>Introduction</h2>
            <p> The Department of Women and Child Development, Government of India, came into existence as a separate
                Ministry with effect from 30th January, 2006, earlier since 1985 it was a Department under the Ministry of
                Human Resources Development.</p>
            <p>The Ministry was constituted with the prime intention of addressing gaps in State action for women and
                children for promoting inter-Ministerial and inter-sectoral convergence to create gender equitable and
                child-centred legislation, policies and programmes.</p>
            <h2><strong>Vision and Mission</strong></h2>
            <h2>Vision</h2>
            <p>Empowered women living with dignity and contributing as equal partners in development in an environment free
                from violence and discrimination. And, wellnurtured children with full opportunities for growth and
                development in a safe and protective environment.</p>
            <h2>Mission</h2>
            <p>Promoting social and economic empowerment of women through cross-cuting policies and programmes,
                mainstreaming gender concerns, creating awareness about their rights and facilitating institutional and
                legislative support for enabling them realize their human rights and develop to their full potential.2.
                Ensuring development, care and protection of children through cross-cutting policies and
                programmes,spreading awareness about their rights and facilitating access to
                learning,nutrition,institutional and legislative support for enabling them to grow and develop to their full
                potential.</p>
    
            <h2>Mandate:</h2>
            <p>The broad mandate of the Ministry is to have holistic development of <strong>Women and Children.</strong> As
                a nodal Ministry for the advancement of women and children, the<strong> Ministry formulates plans, policies
                    and programmes; enacts/ amends legislation</strong>, guides and coordinates the efforts of both
                governmental and non-governmental organisations working in the field of Women and Child Development.
                Besides, playing its nodal role, the Ministry implements certain innovative programmes for women and
                children. These programmes cover welfare and support services, training for employment and income
                generation, awareness generation and gender sensitization. These programmes play a supplementary and
                complementary role to the other general developmental programmes in the sectors of health, education, rural
                development etc. All these efforts are directed to ensure that women are empowered both economically and
                socially and thus become equal partners in national development along with men.</p>
            <h2>Policy Initiatives:</h2>
            <p>For the holistic development of the child, the Ministry has been implementing the world's largest and most
                unique and outreach programme of <a href="#" target="_blank"
                    title="External link that will open in a new window" role="link"><strong><u>Integrated Child Development
                            Services (ICDS)</u></strong></a> providing a package of services comprising supplementary
                nutrition, immunization, health check up and referral services, pre-school non-formal education. There is
                effective coordination and monitoring of various sectoral programmes. Most of the programmes of the Ministry
                are run through non-governmental organisations. Efforts are made to have more effective involvement of NGOs.
                The major policy initiatives undertaken by the Ministry in the recent past include universalisation of ICDS
                and <a href="https://wcd.nic.in/kishori-shakti-yojana" target="_blank" role="link"><strong><u>Kishori Shakti
                            Yojana</u></strong></a>, launching a nutrition programme for adolescent girls, establishment of
                the Commission for protection of Child Rights and enactment of <a
                    href="https://wcd.nic.in/sites/default/files/domesticviolenceact05.pdf" target="_blank"
                    role="link"><strong><u>Protection of Women from Domestic Violence Act.</u></strong></a></p>
            <h2>Organisation:</h2>
            <p>The Ministry of Women and Child Development is headed by <strong>Hon'ble Minister Smt. Smriti Zubin Irani,
                    Minister of State Dr. Munjapara Mahendrabhai and Shri Indevar Pandey is the Secretary of the Ministry of
                    Women and Child Development.</strong>The activities of the Ministry are undertaken through seven
                bureaux.</p>
            <strong>The Ministry has 6 autonomous organisations viz.</strong>
            <ul>
                <li><a href="http://www.nipccd.nic.in/" target="_blank" title="External link that will open in a new window"
                        role="link"><strong><u>National Institute of Public Cooperation and Child Development
                                (NIPCCD)</u></strong></a></li>
                <li><a href="http://ncw.nic.in/" target="_blank" title="External link that will open in a new window"
                        role="link"><strong><u>National Commission for women (NCW)</u></strong></a></li>
                <li><a href="http://ncpcr.gov.in/" target="_blank" title="External link that will open in a new window"
                        role="link"><strong><u>National Commission for Protection of Child Rights (NCPCR)</u></strong></a>
                </li>
                <li><a href="http://www.cara.nic.in/" target="_blank" title="External link that will open in a new window"
                        role="link"><strong><u>Central Adoption Resource Agency (CARA)</u></strong></a></li>
                <li><a href="http://cswb.gov.in/" target="_blank" title="External link that will open in a new window"
                        role="link"><strong><u>Central Social Welfare Board (CSWB)</u></strong></a></li>
                <li><a href="http://rmk.nic.in/" target="_blank" title="External link that will open in a new window"
                        role="link"><strong><u>Rashtriya Mahila Kosh (RMK)</u></strong></a></li>
            </ul>
            <p>working under its aegis. NIPCCD and RMK are societies registered under the Societies Registration Act, 1860.
                CSWB is a charitable company registered under section 25 of the Indian Companies Act, 1956. These
                organisations are fully funded by the Govt. of India and they assist the Department in its functions
                including implementation of some programmes/schemes. The National Commission for Women was constituted as a
                national apex statutory body in 1992 for protecting and safeguarding the rights of women. The National
                Commission for Protection of Child Rights which is a national level apex statutory body constituted in the
                March 2007 for protecting and safe guarding the rights of children.</p>
            <strong> Subjects Allocated to the Ministry</strong>
            <ul>
                <li>Welfare of the family.</li>
                <li>Women and Child Welfare and Coordination of activities of other Ministries and Organisation in
                    connection with this subject.</li>
                <li>References from the United Nations Organizations relating to traffic in Women and Children</li>
                <li>National Nutrition Policy, national Plan of Action for Nutrition and National Nutrition Mission.</li>
                <li>Charitable and religious endowments pertaining to subjects allocated to this Department</li>
                <li>Promotion and development of voluntary effort on the subjects allocated to this Department</li>
                <li><strong>Implementation of -</strong>
                    <ul>
                        <li><a href="https://wcd.nic.in/sites/default/files/640ls.pdf" target="_blank"
                                role="link"><strong><u>Immoral Traffic in Women and Girl Act. 1956 (as amended upto
                                        1986).</u></strong></a></li>
                        <li><a href="https://wcd.nic.in/indecent-representation-women-prevention-act-1986-60-1986"
                                target="_blank" role="link"><strong><u>The Indecent Representation of Women (Prevention)
                                        Act, 1986 (60 of 1986).</u></strong></a></li>
                        <li><a href="https://wcd.nic.in/dowry-prohibition-act-1961-28-1961" target="_blank"
                                role="link"><strong><u>The Dowry Prohibition Act. 1961 (28 of 1961)</u></strong></a></li>
                        <li><a href="https://wcd.nic.in/commission-sati-prevention-act-1987-3-1988-excluding-administration-criminal-justice-regard-offences"
                                target="_blank" role="link"><strong><u>The Commission of Sati (Prevention) Act, 1987 (3 of
                                        1988), excluding the administration of criminal justice in regard to offences under
                                        these Acts.</u></strong></a></li>
                    </ul>
                </li>
                <li><a href="https://wcd.nic.in/sites/default/files/infantmilkpact1.pdf" target="_blank"
                        role="link"><strong><u>Implementation of the Infant Milk Substitutes, Feeding Bottles and Infant
                                Food (Regulation of Production, Supply and Distribution) Act, 1992 (41 of
                                1992).</u></strong></a></li>
                <li>Coordination of activities of Cooperative for Assistance and Relief Everywhere (CARE)</li>
                <li>Planning, Research, Evaluation, Monitoring, Project Formulations, Statistics and Training relating to
                    the welfare and development of women and children, including development of gender sensitive data base.
                </li>
                <li><a href="http://www.unicef.org/" target="_blank" title="External link that will open in a new window"
                        role="link"><strong><u>United Nations Children's Fund (UNICEF)</u></strong></a></li>
                <li><a href="http://cswb.gov.in/" target="_blank" title="External link that will open in a new window"
                        role="link"><strong><u>Central Social Welfare Board (CSWB)</u></strong></a></li>
                <li><a href="http://www.nipccd.nic.in/" target="_blank" title="External link that will open in a new window"
                        role="link"><strong><u>National Institute of Public Cooperation and Child Development
                                (NIPCCD)</u></strong></a></li>
                <li>Food and Nutrition Board</li>
                <li><a href="/food-nutrition-board" target="_blank" role="link"><strong><u>Food and Nutrition Board
                                (FNB)</u></strong></a></li>
                <li>Development and popularization of subsidiary and protective foods.</li>
                <li>Nutrition extension.</li>
            </ul>
            <h2>Women's Empowerment and Gender Equity.</h2>
            <ul>
                <li><a href="http://ncw.nic.in/" target="_blank" title="External link that will open in a new window"
                        role="link"><u><strong>National Commission for Women.</strong></u></a></li>
                <li><a href="http://www.rmk.nic.in/" target="_blank" title="External link that will open in a new window"
                        role="link"><u><strong>Rashtriya Mahila Kosh (RMK)</strong></u></a></li>
                <li><a href="https://wcd.nic.in/sites/default/files/jjact2000.pdf" target="_blank"
                        role="link"><u><strong>The Juvenile Justice (Care and Protection of Children) Act, 2000 (56 of
                                2000).</strong></u></a></li>
                <li>Probation of Juvenile offenders.</li>
                <li>Issues relating to adoption, <a href="http://cara.nic.in" target="_blank"
                        title="External link that will open in a new window" role="link"><u><strong>Central Adoption
                                Resource Agency</strong></u></a> and <a href="http://www.childlineindia.org.in/"
                        target="_blank" role="link"><u><strong>Child Help Line (Childline)</strong></u></a></li>
                <li><a href="https://wcd.nic.in/children-act-1960-60-1960" target="_blank" role="link"><u><strong>The
                                Children Act, 1960 (60 of 1960)</strong></u></a></li>
                <li><a href="https://wcd.nic.in/child-marriage-restraint-act-1929-19-1929" target="_blank"
                        role="link"><u><strong>The Child Marriage - Restraint Act, 1929 (19 of 1929)</strong></u></a></li>
            </ul>
        </div>
    </div>