<div class="user-body-container">
  <mat-card class="user-body" [ngSwitch]="pageState">
    <div *ngSwitchCase="'login'">
      <div class="login-form">
        <h2>Login</h2>
        <hr class="headig-underline" />
        <form
          class="form-style"
          #userLoginForm="ngForm"
          action=""
          (ngSubmit)="userLogin()"
        >
          <mat-form-field appearance="standard">
            <mat-label>User ID</mat-label>
            <input
              matInput
              type="number"
              name="userId"
              [(ngModel)]="userLoginData.userId"
              required
              #userId="ngModel"
            />
            <mat-error *ngIf="userId.invalid"> Required. Only digits</mat-error>
          </mat-form-field>

          <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="showLoginPassword ? 'text' : 'password'"
              name="password"
              [(ngModel)]="userLoginData.password"
              required
              minlength="8"
              #password="ngModel"
            />

            <mat-error *ngIf="password.invalid"> Minimum Length: 8</mat-error>
            <mat-icon matSuffix (click)="toggleLoginPasswordVisibility()">
              {{ showLoginPassword ? "visibility_off" : "visibility" }}
            </mat-icon>
          </mat-form-field>

          <button
            type="submit"
            class="form-submit-button"
            mat-raised-button
            color="primary"
            [disabled]="userLoginForm.invalid"
          >
            Login
          </button>
        </form>
        <br /><br />
        <div class="register-and-reset-buttons">
          <span>
            <span>Not a member?</span
            ><button
              class="reset-password-button"
              mat-raised-button
              color="accent"
              (click)="showRegisterPage()"
            >
              Register
            </button></span
          >
          <button
            class="form-switch-button"
            mat-button
            color="accent"
            (click)="showResetPasswordPage()"
          >
            Reset Password
          </button>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'register'" class="register-form">
      <h2>Register</h2>
      <hr class="headig-underline" />
      <div class="register-form">
        <form
          action=""
          class="form-style"
          #registerUserForm="ngForm"
          (ngSubmit)="registerUser()"
        >
          <span class="fields-row">
            <mat-form-field appearance="standard">
              <mat-label>First Name</mat-label>
              <input
                matInput
                name="firstName"
                [(ngModel)]="userProfile.firstName"
                #fname="ngModel"
                required
                minlength="2"
              />
              <mat-error *ngIf="fname.invalid">At least 2 charactes</mat-error>
            </mat-form-field>
            <span class="form-field-space"></span>
            <mat-form-field appearance="standard">
              <mat-label>Middle Name</mat-label>
              <input
                matInput
                name="middleName"
                [(ngModel)]="userProfile.middleName"
              />
            </mat-form-field>
            <span class="form-field-space"></span>
            <mat-form-field appearance="standard">
              <mat-label>Last Name</mat-label>
              <input
                matInput
                name="lastName"
                [(ngModel)]="userProfile.lastName"
                #lname="ngModel"
                required
                minlength="2"
              />
              <mat-error *ngIf="lname.invalid">At least 2 charactes</mat-error>
            </mat-form-field>
          </span>

          <span class="fields-row">
            <span class="radio-btn-group">
              <label id="example-radio-group-label">Gender: </label>
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="radio-btn-group"
                name="gender"
                [(ngModel)]="userProfile.gender"
                #gender="ngModel"
                required
              >
                <mat-radio-button [value]="'MALE'"> Male </mat-radio-button>
                <mat-radio-button [value]="'FEMALE'"> Female </mat-radio-button>
              </mat-radio-group>
            </span>

            <span class="form-field-space"></span>
            <span class="radio-btn-group">
              <label id="example-radio-group-label">Disability: </label>
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="radio-btn-group"
                name="disabled"
                [(ngModel)]="userProfile.disabled"
                #disability="ngModel"
                required
              >
                <mat-radio-button [value]="'YES'"> Yes </mat-radio-button>
                <mat-radio-button [value]="'NO'"> No </mat-radio-button>
              </mat-radio-group>
            </span>
            <span class="form-field-space"></span>
            <mat-form-field appearance="standard">
              <mat-label>Date of Birth</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                name="dob"
                readonly
                [(ngModel)]="userProfile.dob"
                #dob="ngModel"
                required
              />
              <mat-error *ngIf="dob.invalid">Required</mat-error>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matPrefix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </span>
          <span class="fields-row">
            <mat-form-field appearance="standard">
              <mat-label>Email</mat-label>
              <input
                matInput
                type="email"
                name="email"
                [(ngModel)]="userProfile.email"
                #email="ngModel"
                required
              />
              <mat-error *ngIf="email.invalid">Required. Valid Email</mat-error>
            </mat-form-field>
            <span class="form-field-space"></span>
            <mat-form-field appearance="standard">
              <mat-label>Contact Number</mat-label>
              <input
                matInput
                type="number"
                name="contactNo"
                [(ngModel)]="userProfile.contactNo"
                #contactNo="ngModel"
                minlength="10"
                maxlength="10"
                required
              />
              <mat-error *ngIf="contactNo.invalid"
                >At least 10 digits</mat-error
              >
            </mat-form-field>
          </span>
          <span class="fields-row">
            <mat-form-field appearance="standard">
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="showRegisterPassword ? 'text' : 'password'"
                name="password"
                [(ngModel)]="userProfile.password"
                #password="ngModel"
                minlength="8"
                required
              />
              <mat-error *ngIf="password.invalid"
                >At least 8 charactes</mat-error
              >
              <mat-icon matSuffix (click)="toggleRegisterPasswordVisibility()">
                {{ showRegisterPassword ? "visibility_off" : "visibility" }}
              </mat-icon>
            </mat-form-field>
            <span class="form-field-space"></span>
            <mat-form-field appearance="standard">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                [type]="showRegisterConfirmPassword ? 'text' : 'password'"
                name="confirmPassword"
                [(ngModel)]="confirmPassword"
                required
              />
              <mat-icon
                matSuffix
                (click)="toggleRegisterConfirmPasswordVisibility()"
              >
                {{
                  showRegisterConfirmPassword ? "visibility_off" : "visibility"
                }}
              </mat-icon>
            </mat-form-field>
          </span>
          <span class="fields-row">
            <mat-form-field appearance="standard">
              <mat-label>AADHAAR Number</mat-label>
              <input
                matInput
                type="number"
                name="aadhaarNo"
                [(ngModel)]="userProfile.aadhaarNo"
                #aadhaarNo="ngModel"
                minlength="12"
                maxlength="12"
                required
              />
              <mat-error *ngIf="aadhaarNo.invalid"
                >12 Digits. Required</mat-error
              >
            </mat-form-field>
            <span class="form-field-space"></span>
            <span>
              <input
                type="file"
                accept="image/*"
                name="aadhaarDocument"
                required
                (change)="uploadAadhaar($event)"
              />
            </span>
          </span>
          <span class="fields-row">
            <mat-form-field appearance="standard">
              <mat-label>PAN Number</mat-label>
              <input
                matInput
                name="panNo"
                [(ngModel)]="userProfile.panNo"
                #panNo="ngModel"
                minlength="10"
                maxlength="10"
                required
              />
              <mat-error *ngIf="panNo.invalid"
                >11 Characters. Required</mat-error
              >
            </mat-form-field>
            <span class="form-field-space"></span>
            <span>
              <input
                type="file"
                accept="image/*"
                name="panDocument"
                required
                (change)="uploadPan($event)"
            /></span>
          </span>
          <span class="fields-row">
            <span class="radio-btn-group">
              <label id="example-radio-group-label">Job Status: </label>
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="radio-btn-group"
                name="jobStatus"
                [(ngModel)]="userProfile.jobStatus"
                #jobStatus="ngModel"
                required
              >
                <mat-radio-button [value]="'EMPLOYED'">
                  Employed
                </mat-radio-button>
                <mat-radio-button [value]="'UNEMPLOYED'">
                  Unemployed
                </mat-radio-button>
              </mat-radio-group>
            </span>
            <span class="form-field-space"></span>
            <mat-form-field appearance="standard">
              <mat-label>Job Title</mat-label>
              <input
                matInput
                name="jobTitle"
                [(ngModel)]="userProfile.jobTitle"
                #jobTitle="ngModel"
                required
              />
              <mat-error *ngIf="jobTitle.invalid">Required</mat-error>
            </mat-form-field>
            <span class="form-field-space"></span>
            <mat-form-field appearance="standard">
              <mat-label>Salary</mat-label>
              <input
                matInput
                type="number"
                name="salary"
                [(ngModel)]="userProfile.salary"
                #salary="ngModel"
                required
              />
              <mat-error *ngIf="salary.invalid">Required</mat-error>
              <span matPrefix>₹&nbsp;</span>
            </mat-form-field>
          </span>
          <span class="radio-btn-group">
            <label id="example-radio-group-label">Type of Residence: </label>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="radio-btn-group"
              name="residenceArea"
              [(ngModel)]="userProfile.residenceArea"
              #area="ngModel"
              required
            >
              <mat-radio-button [value]="'URBAN'"> Urban </mat-radio-button>
              <mat-radio-button [value]="'RURAL'"> Rural </mat-radio-button>
            </mat-radio-group>
          </span>

          <span class="radio-btn-group">
            <label id="example-radio-group-label">Marital Status: </label>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="radio-btn-group"
              name="maritalStatus"
              [(ngModel)]="userProfile.maritalStatus"
              #maritalStatus="ngModel"
              required
            >
              <mat-radio-button [value]="'MARRIED'"> Married </mat-radio-button>
              <mat-radio-button [value]="'UNMARRIED'">
                Unmarried
              </mat-radio-button>
              <mat-radio-button [value]="'WIDOWED'"> Widowed </mat-radio-button>
              <mat-radio-button [value]="'SEPARATED'">
                Separated
              </mat-radio-button>
            </mat-radio-group>
          </span>

          <button
            type="submit"
            class="form-submit-button"
            mat-raised-button
            color="primary"
            [disabled]="registerUserForm.invalid"
          >
            Register
          </button>
        </form>
        <span>Already a member?</span
        ><button
          class="form-switch-button"
          mat-raised-button
          color="accent"
          (click)="showLoginPage()"
        >
          Login
        </button>
      </div>
    </div>
    <div *ngSwitchCase="'updatePassword'">
      <div class="login-form">
        <h2>Reset Password</h2>
        <hr class="headig-underline" />
        <form
          class="form-style"
          #userForgotPasswordForm="ngForm"
          (ngSubmit)="passwordReset()"
        >
          <mat-form-field appearance="standard">
            <mat-label>User ID</mat-label>
            <input
              matInput
              type="number"
              name="userId"
              [(ngModel)]="userId.userId"
              required
              #UserId="ngModel"
            />
            <mat-error *ngIf="UserId.invalid"> Required. Only digits</mat-error>
          </mat-form-field>
          <br /><br /><br />
          <button
            type="submit"
            class="form-submit-button"
            mat-raised-button
            color="primary"
            [disabled]="userForgotPasswordForm.invalid"
          >
            Request Reset Password
          </button>
        </form>
        <br /><br />
        <div class="register-and-reset-buttons">
          <button
            class="reset-password-button"
            mat-raised-button
            color="accent"
            (click)="showLoginPage()"
          >
            Login
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
