.user-body-container {
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-body {
  width: 60%;
  height: 80%;
  /* background-color: white; */
  padding: 2rem 3rem;
}

.form-style {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.headig-underline {
  margin: 0.5rem 0;
  border: none;
  border-top-color: var(--primary-color);
  border-top-style: solid;
  border-top-width: 3px;
}

.register-and-reset-buttons {
  display: flex;
  justify-content: space-between;
}

.form-submit-button {
  margin: 1rem 0;
}

.form-switch-button {
  margin: 0 1rem;
}

.reset-password-button {
  margin: 0 1rem;
}

.fields-row {
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}

.form-field-space {
  margin: 2%;
}

.radio-btn-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

mat-radio-button {
  margin: 1rem;
}

.register-form {
  height: 100%;
  width: 100%;
  margin: 1rem 0;
  overflow-y: auto;
}

.documents {
  display: flex;
  align-items: center;
}
