<!-- <div class="step-body-container">
  <mat-card class="step-body">
    <h2>Support to Training and Employment Programme for Women</h2>
    <hr class="headig-underline" />
    <div class="step-info">
      <h4 class="info-heading">Introduction</h4>
      <div class="info-content">
        <p>
          STEP Scheme aims to provide skills that give employability to women
          and to provide competencies and skill that enable women to become
          self-employed/entrepreneurs. The Scheme is intended to benefit women
          who are in the age group of 16 years and above across the country.
        </p>
      </div>
      <h4 class="info-heading">Scheme Benefits & Highlights</h4>
      <div class="info-content">
        <p>
          The assistance under STEP Scheme will be available in any sector for
          imparting skills related to employability and entrepreneurship,
          including but not limited to the Agriculture, Horticulture, Food
          Processing, Handlooms, Tailoring, Stitching, Embroidery, Zari etc,
          Handicrafts, Computer & IT enable services along with soft skills and
          skills for the work place such as spoken English, Gems & Jewellery,
          Travel & Tourism, Hospitality.
        </p>
      </div>
      <h4 class="info-heading">Eligibility</h4>
      <div class="info-content">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab quod quis
          doloribus ipsum, ipsam perspiciatis sequi voluptates corporis possimus
          facilis iusto aliquam voluptatem natus quia a cupiditate corrupti
          fugit veniam.
        </p>
      </div>
      <h4 class="info-heading">Scheme Target Group</h4>
      <div class="info-content">
        <p>
          The scheme is intended to benefit women who are in the age group of 16
          years and above.
        </p>
      </div>
      <h4 class="info-heading">
        Eligibile Organizations / Project Implementing Agencies(PIAs)
      </h4>
      <div class="info-content">
        <p>
          Grants-in-aid under the STEP programme may be given to an institution
          having a distinct legal entity as under:
        </p>
        <ul class="pia-eligibility-list">
          <li>
            Institutions or organizations set up as Autonomous Organization
            under a specific statute or as a Society registered under the
            Societies Registration Act, 1860 or Indian Trusts Act, 1882 (Not for
            profit) or other statutes.
          </li>
          <li>
            Voluntary Organizations or Non-Government Organizations registered
            under the Societies Registration Act, Indian Trust Act carrying out
            activities which promote the objectives of the STEP programme, with
            adequate financial and other resources, credibility and experience
            of the type of activities to be undertaken.
          </li>
          <li>Co-operative Societies</li>
        </ul>
      </div>
    </div>
  </mat-card>
</div> -->
<!-- <button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button> -->
<head>
  <meta name="stephome" content="width=device-width, initial-scale=1">
  
  </head>
   <mat-card class="step-body">
      <h2>Support to Training and Employment Programme for Women</h2>
      <hr class="headig-underline" />
  <div class="container">
    <img src="assets\step.jpg" alt="stephm" class="image">
    <div class="overlay">
      <div class="text">
  
  
        <p>
          STEP Scheme aims to provide skills that give employability to women
          and to provide competencies and skill that enable women to become
          self-employed/entrepreneurs. The Scheme is intended to benefit women
          who are in the age group of 16 years and above across the country.
        </p>

          <br/>
          <p>
            The assistance under STEP Scheme will be available in any sector for
            imparting skills related to employability and entrepreneurship,
            including but not limited to the Agriculture, Horticulture, Food
            Processing, Handlooms, Tailoring, Stitching, Embroidery, Zari etc,
            Handicrafts, Computer & IT enable services along with soft skills and
            skills for the work place such as spoken English, Gems & Jewellery,
            Travel & Tourism, Hospitality.
          </p>
          <p>
            Grants-in-aid under the STEP programme may be given to an institution
            having a distinct legal entity as under:
          </p>
          <ul class="pia-eligibility-list">
           <p>
              Institutions or organizations set up as Autonomous Organization
              under a specific statute or as a Society registered under the
              Societies Registration Act, 1860 or Indian Trusts Act, 1882 (Not for
              profit) or other statutes.</p>
            
            <p>
              Voluntary Organizations or Non-Government Organizations registered
              under the Societies Registration Act, Indian Trust Act carrying out
              activities which promote the objectives of the STEP programme, with
              adequate financial and other resources, credibility and experience
              of the type of activities to be undertaken.</p>
            
            <p>Co-operative Societies</p></ul>

      </div>
    </div>
  </div>
 