
    
    <body>

        <h2  align="center">Privacy And Policy</h2>
        
        <div class="container">
          <img src="assets\privacy.jpg" alt="l&p" class="image">
          <div class="overlay">
            <div class="text">
        
        
              <p> This website does not automatically capture any specific personal information from you, (like name, phone number or e-mail address), that allows us to identify you individually. If the website requests you to provide personal information, you will be informed for the particular purposes for which the information is gathered e.g. feedback form and adequate security measures will be taken to protect your personal information.
    
                We do not sell or share any personally identifiable information volunteered on the website to any third party (public/private) Any Information provided to this website will be protected from loss, misuse, unauthorized access or disclosure, alteration, or destruction. 
                Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory
    
    This Service does not use these "cookies" explicitly. However, the app may use third party code and libraries that use "cookies" to collect information and improve their services. You have the option to ether accept or refuse these cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to use some portions of this Service
    
    <b>Changes to This Privacy Policy</b>
    
    We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page. </p>
            </div>
          </div>
        </div>

        </body>