      <div id="container">
            <div class="easy-breadcrumb"><a href="/" class="easy-breadcrumb_segment easy-breadcrumb_segment-front"
                        role="link">Home</a><span class="easy-breadcrumb_segment-separator"> &gt;&gt; </span><a
                        href="/act" class="easy-breadcrumb_segment easy-breadcrumb_segment-1" role="link">Act</a><span
                        class="easy-breadcrumb_segment-separator"> &gt;&gt; </span><span
                        class="easy-breadcrumb_segment easy-breadcrumb_segment-title">Women Related Legislation</span>
            </div>

            <h1>Women Related Legislation</h1>
            <hr>
            <table class="views-table cols-2">

                  <thead>
                        <tr>
                              <th class="views-field views-field-title" scope="col">
                                    Title </th>
                              <th class="views-field views-field-php" scope="col">
                                    Details </th>
                        </tr>
                  </thead>
                  <tbody>
                        <tr class="odd views-row-first">
                              <td class="views-field views-field-title" data-label="
                Title          ">
                                    Compensation Scheme for Women Victims/Survivors of Sexual Assault/other Crimes -
                                    2018 </td>
                              <td class="views-field views-field-php" data-label="
                Details          ">
                                    <span><a href="https://wcd.nic.in/sites/default/files/Final%20VC%20Sheme_0.pdf"
                                                target="_blank" role="link">Download (844.61 KB) <img
                                                      src="assets/Images/pdf_icon.svg" width="20" height="20" alt="pdf"
                                                      border="0"></a></span> </td>
                        </tr>
                        <tr class="even">
                              <td class="views-field views-field-title" data-label="
                Title          ">
                                    Letter of Selection of the empanelled organisation to conduct capacity building
                                    exercises on Sexual Harassment of Women at Workplace (Prevention,
                                    Prohibition&nbsp;and Redressal) Act, 2013 </td>
                              <td class="views-field views-field-php" data-label="
                Details          ">
                                    <span><a href="https://wcd.nic.in/sites/default/files/Empanlled%20Institute%20forwarding%20letter.pdf"
                                                target="_blank" role="link">Download (6.98 MB) <img
                                                      src="assets/Images/pdf_icon.svg" width="20" height="20" alt="pdf"
                                                      border="0"></a></span> </td>
                        </tr>
                        <tr class="odd">
                              <td class="views-field views-field-title" data-label="
                Title          ">
                                    Recommended Panel of Institutions organisation for imparting training
                                    Programmes/workshops under Sexual Harassment of Women at Workshop (Prevention,
                                    Prohibition and Redressal) Act, 2013) </td>
                              <td class="views-field views-field-php" data-label="
                Details          ">
                                    <span><a href="https://wcd.nic.in/sites/default/files/empanelled%20new%20list.pdf"
                                                target="_blank" role="link">Download (1.54 MB) <img
                                                      src="assets/Images/pdf_icon.svg" width="20" height="20" alt="pdf"
                                                      border="0"></a></span> </td>
                        </tr>
                        <tr class="even">
                              <td class="views-field views-field-title" data-label="
                Title          ">
                                    Training Module for Two Day Workshop on Sexual Harassment of Women at Workplace
                                    (Prevention, Prohibition And Redressal) Act, 2013 </td>
                              <td class="views-field views-field-php" data-label="
                Details          ">
                                    <span><a href="https://wcd.nic.in/sites/default/files/ISTM_Training%20Module%20To%20be%20uploaded.pdf"
                                                target="_blank" role="link">Download (577.20 KB) <img
                                                      src="assets/Images/pdf_icon.svg" width="20" height="20" alt="pdf"
                                                      border="0"></a></span> </td>
                        </tr>
                        <tr class="odd">
                              <td class="views-field views-field-title" data-label="
                Title          ">
                                    Recommended Panel of Institutes or Organizations under sexual harassment of Women at
                                    workplace Prevention,Prohibition, and Redressal Act 2013 </td>
                              <td class="views-field views-field-php" data-label="
                Details          ">
                                    <span><a href="https://wcd.nic.in/sites/default/files/Reccomended%20panel%20of%20inst.pdf"
                                                target="_blank" role="link">Download (2.18 MB) <img
                                                      src="assets/Images/pdf_icon.svg" width="20" height="20" alt="pdf"
                                                      border="0"></a></span> </td>
                        </tr>
                        <tr class="even">
                              <td class="views-field views-field-title" data-label="
                Title          ">
                                    The sexual harassment of women at workplace Prevention,Prohibition, and Redressal
                                    Act 2013 </td>
                              <td class="views-field views-field-php" data-label="
                Details          ">
                                    <span><a href="https://wcd.nic.in/sites/default/files/Sexual-Harassment-at-Workplace-Act.pdf"
                                                target="_blank" role="link">Download (4.28 MB) <img
                                                      src="assets/Images/pdf_icon.svg" width="20" height="20" alt="pdf"
                                                      border="0"></a></span> </td>
                        </tr>
                        <tr class="odd">
                              <td class="views-field views-field-title" data-label="
                Title          ">
                                    The Sexual Harassment of Women at Workplace, (Prevention,Prohibition, and Redressal
                                    Act 2013, Rules </td>
                              <td class="views-field views-field-php" data-label="
                Details          ">
                                    <span><a href="https://wcd.nic.in/sites/default/files/Sexual-Harassment-at-Workplace-Rules.pdf"
                                                target="_blank" role="link">Download (872.68 KB) <img
                                                      src="assets/Images/pdf_icon.svg" width="20" height="20" alt="pdf"
                                                      border="0"></a></span> </td>
                        </tr>
                        <tr class="even">
                              <td class="views-field views-field-title" data-label="
                Title          ">
                                    Handbook on Sexual Harassment of Women at Workplace </td>
                              <td class="views-field views-field-php" data-label="
                Details          ">
                                    <span><a href="https://wcd.nic.in/sites/default/files/Handbook%20on%20Sexual%20Harassment%20of%20Women%20at%20Workplace.pdf"
                                                target="_blank" role="link">Download (3.23 MB) <img
                                                      src="assets/Images/pdf_icon.svg" width="20" height="20" alt="pdf"
                                                      border="0"></a></span> </td>
                        </tr>
                        <tr class="odd">
                              <td class="views-field views-field-title" data-label="
                Title          ">
                                    National Commission for Women Act </td>
                              <td class="views-field views-field-php" data-label="
                Details          ">
                                    <span><a href="https://wcd.nic.in/sites/default/files/ncwact.pdf" target="_blank"
                                                role="link">Download (1.96 MB) <img src="assets/Images/pdf_icon.svg"
                                                      width="20" height="20" alt="pdf" border="0"></a></span> </td>
                        </tr>
                        <tr class="even">
                              <td class="views-field views-field-title" data-label="
                Title          ">
                                    The Commission of Sati Prevention Act and rules </td>
                              <td class="views-field views-field-php" data-label="
                Details          ">
                                    <span><a href="https://wcd.nic.in/act/commission-sati-prevention-act-and-rules"
                                                title="Details About The Commission of Sati Prevention Act and rules"
                                                role="link">Details</a></span> </td>
                        </tr>
                        <tr class="odd">
                              <td class="views-field views-field-title" data-label="
                Title          ">
                                    Indecent Representation of Women </td>
                              <td class="views-field views-field-php" data-label="
                Details          ">
                                    <span><a href="https://wcd.nic.in/act/indecent-representation-women"
                                                title="Details About Indecent Representation of Women"
                                                role="link">Details</a></span> </td>
                        </tr>
                        <tr class="even">
                              <td class="views-field views-field-title" data-label="
                Title          ">
                                    Dowry Prohibition Rules </td>
                              <td class="views-field views-field-php" data-label="
                Details          ">
                                    <span><a href="https://wcd.nic.in/act/dowry-prohibition-rules"
                                                title="Details About Dowry Prohibition Rules"
                                                role="link">Details</a></span> </td>
                        </tr>
                        <tr class="odd">
                              <td class="views-field views-field-title" data-label="
                Title          ">
                                    Dowry Prohibition Act, 1961 </td>
                              <td class="views-field views-field-php" data-label="
                Details          ">
                                    <span><a href="https://wcd.nic.in/act/dowry-prohibition-act-1961"
                                                title="Details About Dowry Prohibition Act, 1961"
                                                role="link">Details</a></span> </td>
                        </tr>
                        <tr class="even">
                              <td class="views-field views-field-title" data-label="
                Title          ">
                                    Protection of Women from Domestic Violence Act, 2005 </td>
                              <td class="views-field views-field-php" data-label="
                Details          ">
                                    <span><a href="https://wcd.nic.in/sites/default/files/wdvact.pdf" target="_blank"
                                                role="link">Download (1.87 MB) <img src="assets/Images/pdf_icon.svg"
                                                      width="20" height="20" alt="pdf" border="0"></a></span> </td>
                        </tr>
                        <tr class="odd views-row-last">
                              <td class="views-field views-field-title" data-label="
                Title          ">
                                    The Protection of Women from Domestic Violence Act, 2005 Rules </td>
                              <td class="views-field views-field-php" data-label="
                Details          ">
                                    <span><a href="https://wcd.nic.in/sites/default/files/domesticviolenceact05.pdf"
                                                target="_blank" role="link">Download (4.85 MB) <img
                                                      src="assets/Images/pdf_icon.svg" width="20" height="20" alt="pdf"
                                                      border="0"></a></span> </td>
                        </tr>
                  </tbody>
            </table>
      </div>