<div id="fontSize" class="wrapper body-wrapper col-md-12" style="font-size: 100%;">
    <div class="bg-wrapper subpage-wrapper">
        <div class="container body-container">
            <div class="region region-highlighted">
                <div id="block-easy-breadcrumb-easy-breadcrumb" class="block block-easy-breadcrumb first last odd">

                    <div class="container" id="skipCont">
                        <div class="panel-display panel-1col clearfix">
                            <div class="panel-panel panel-col">
                                <div>
                                    <div class="panel-pane pane-views pane-page">
                                        <div
                                            class="view view-page view-id-page view-display-id-block view-dom-id-58055a9653e45fcc0951241c74cf4811">
                                            <div class="view-content">
                                                <div
                                                    class="views-row views-row-1 views-row-odd views-row-first views-row-last">

                                                    <div class="views-field views-field-body">
                                                        <div class="field-content">
                                                            <h1>About The Ministry</h1>

                                                            <div style="text-align:justify;">
                                                                <h2>Introduction</h2>
                                                                <p> The Department of Women and Child Development,
                                                                    Government of India, came into existence as a
                                                                    separate Ministry with effect from 30th January,
                                                                    2006, earlier since 1985 it was a Department under
                                                                    the Ministry of Human Resources Development.</p>
                                                                <p>The Ministry was constituted with the prime intention
                                                                    of addressing gaps in State action for women and
                                                                    children for promoting inter-Ministerial and
                                                                    inter-sectoral convergence to create gender
                                                                    equitable and child-centred legislation, policies
                                                                    and programmes.</p>
                                                                <h2><strong>Vision and Mission</strong></h2>
                                                                <h2>Vision</h2>
                                                                <p>Empowered women living with dignity and contributing
                                                                    as equal partners in development in an environment
                                                                    free from violence and discrimination. And,
                                                                    wellnurtured children with full opportunities for
                                                                    growth and development in a safe and protective
                                                                    environment.</p>
                                                                <h2>Mission</h2>
                                                                <p>Promoting social and economic empowerment of women
                                                                    through cross-cuting policies and programmes,
                                                                    mainstreaming gender concerns, creating awareness
                                                                    about their rights and facilitating institutional
                                                                    and legislative support for enabling them realize
                                                                    their human rights and develop to their full
                                                                    potential.2. Ensuring development, care and
                                                                    protection of children through cross-cutting
                                                                    policies and programmes,spreading awareness about
                                                                    their rights and facilitating access to
                                                                    learning,nutrition,institutional and legislative
                                                                    support for enabling them to grow and develop to
                                                                    their full potential.</p>

                                                                <h2>Mandate:</h2>
                                                                <p>The broad mandate of the Ministry is to have holistic
                                                                    development of <strong>Women and Children.</strong>
                                                                    As a nodal Ministry for the advancement of women and
                                                                    children, the<strong> Ministry formulates plans,
                                                                        policies and programmes; enacts/ amends
                                                                        legislation</strong>, guides and coordinates the
                                                                    efforts of both governmental and non-governmental
                                                                    organisations working in the field of Women and
                                                                    Child Development. Besides, playing its nodal role,
                                                                    the Ministry implements certain innovative
                                                                    programmes for women and children. These programmes
                                                                    cover welfare and support services, training for
                                                                    employment and income generation, awareness
                                                                    generation and gender sensitization. These
                                                                    programmes play a supplementary and complementary
                                                                    role to the other general developmental programmes
                                                                    in the sectors of health, education, rural
                                                                    development etc. All these efforts are directed to
                                                                    ensure that women are empowered both economically
                                                                    and socially and thus become equal partners in
                                                                    national development along with men.</p>
                                                                <h2>Policy Initiatives:</h2>
                                                                <p>For the holistic development of the child, the
                                                                    Ministry has been implementing the world's largest
                                                                    and most unique and outreach programme of
                                                                    <strong>Integrated Child Development Services
                                                                        (ICDS)</strong> providing a package of services
                                                                    comprising supplementary nutrition, immunization,
                                                                    health check up and referral services, pre-school
                                                                    non-formal education. There is effective
                                                                    coordination and monitoring of various sectoral
                                                                    programmes. Most of the programmes of the Ministry
                                                                    are run through non-governmental organisations.
                                                                    Efforts are made to have more effective involvement
                                                                    of NGOs. The major policy initiatives undertaken by
                                                                    the Ministry in the recent past include
                                                                    universalisation of ICDS and <strong>Kishori Shakti
                                                                        Yojana</strong>, launching a nutrition programme
                                                                    for adolescent girls, establishment of the
                                                                    Commission for protection of Child Rights and
                                                                    enactment of <strong>Protection of Women from
                                                                        Domestic Violence Act.</strong></p>
                                                                <h2>Organisation:</h2>
                                                                <p>The Ministry of Women and Child Development is headed
                                                                    by <strong>Hon'ble Minister Smt. Smriti Zubin Irani,
                                                                        Minister of State Sushri Debasree Chaudhuri and
                                                                        Shri Ram Mohan Mishra is the Secretary of the
                                                                        Ministry of Women and Child
                                                                        Development.</strong>The activities of the
                                                                    Ministry are undertaken through seven bureaux.</p>
                                                                <strong>The Ministry has 6 autonomous organisations
                                                                    viz.</strong>
                                                                <ul>
                                                                    <li><strong><u>National Institute of Public
                                                                                Cooperation and Child Development
                                                                                (NIPCCD)</u></strong></li>
                                                                    <li><strong><u>National Commission for women
                                                                                (NCW)</u></strong></li>
                                                                    <li><strong><u>National Commission for Protection of
                                                                                Child Rights (NCPCR)</u></strong></li>
                                                                    <li><strong><u>Central Adoption Resource Agency
                                                                                (CARA)</u></strong></li>
                                                                    <li><strong><u>Central Social Welfare Board
                                                                                (CSWB)</u></strong></li>
                                                                    <li><strong><u>Rashtriya Mahila Kosh
                                                                                (RMK)</u></strong></li>
                                                                </ul>
                                                                <p>working under its aegis. NIPCCD and RMK are societies
                                                                    registered under the Societies Registration Act,
                                                                    1860. CSWB is a charitable company registered under
                                                                    section 25 of the Indian Companies Act, 1956. These
                                                                    organisations are fully funded by the Govt. of India
                                                                    and they assist the Department in its functions
                                                                    including implementation of some programmes/schemes.
                                                                    The National Commission for Women was constituted as
                                                                    a national apex statutory body in 1992 for
                                                                    protecting and safeguarding the rights of women. The
                                                                    National Commission for Protection of Child Rights
                                                                    which is a national level apex statutory body
                                                                    constituted in the March 2007 for protecting and
                                                                    safe guarding the rights of children.</p>
                                                                <strong> Subjects Allocated to the Ministry</strong>
                                                                <ul>
                                                                    <li>Welfare of the family.</li>
                                                                    <li>Women and Child Welfare and Coordination of
                                                                        activities of other Ministries and Organisation
                                                                        in connection with this subject.</li>
                                                                    <li>References from the United Nations Organizations
                                                                        relating to traffic in Women and Children</li>
                                                                    <li>National Nutrition Policy, national Plan of
                                                                        Action for Nutrition and National Nutrition
                                                                        Mission.</li>
                                                                    <li>Charitable and religious endowments pertaining
                                                                        to subjects allocated to this Department</li>
                                                                    <li>Promotion and development of voluntary effort on
                                                                        the subjects allocated to this Department</li>
                                                                    <li><strong>Implementation of -</strong>
                                                                        <ul>
                                                                            <li><strong><u>Immoral Traffic in Women and
                                                                                        Girl Act. 1956 (as amended upto
                                                                                        1986).</u></strong></li>
                                                                            <li><strong><u>The Indecent Representation
                                                                                        of Women (Prevention) Act, 1986
                                                                                        (60 of 1986).</u></strong></li>
                                                                            <li><strong><u>The Dowry Prohibition Act.
                                                                                        1961 (28 of 1961)</u></strong>
                                                                            </li>
                                                                            <li><strong><u>The Commission of Sati
                                                                                        (Prevention) Act, 1987 (3 of
                                                                                        1988), excluding the
                                                                                        administration of criminal
                                                                                        justice in regard to offences
                                                                                        under these Acts.</u></strong>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                    <li><strong><u>Implementation of the Infant Milk
                                                                                Substitutes, Feeding Bottles and Infant
                                                                                Food (Regulation of Production, Supply
                                                                                and Distribution) Act, 1992 (41 of
                                                                                1992).</u></strong></li>
                                                                    <li>Coordination of activities of Cooperative for
                                                                        Assistance and Relief Everywhere (CARE)</li>
                                                                    <li>Planning, Research, Evaluation, Monitoring,
                                                                        Project Formulations, Statistics and Training
                                                                        relating to the welfare and development of women
                                                                        and children, including development of gender
                                                                        sensitive data base.</li>
                                                                    <li><strong><u>United Nations Children's Fund
                                                                                (UNICEF)</u></strong></li>
                                                                    <li><strong><u>Central Social Welfare Board
                                                                                (CSWB)</u></strong></li>
                                                                    <li><strong><u>National Institute of Public
                                                                                Cooperation and Child Development
                                                                                (NIPCCD)</u></strong></li>
                                                                    <li>Food and Nutrition Board</li>
                                                                    <li><strong><u>Food and Nutrition Board
                                                                                (FNB)</u></strong></li>
                                                                    <li>Development and popularization of subsidiary and
                                                                        protective foods.</li>
                                                                    <li>Nutrition extension.</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <ngb-carousel >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel> -->
