.container .btn {
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: px;
}

.list-group-item{
    border: 1px gray solid;
    padding: 10px;
    list-style: none
}

ul{
    margin: 0px;
    margin-block-start: 0px;
    padding-inline-start: 1px;
}

.content{
    align-content: center;
}

h1 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.title-container{
    border-bottom: 3px blue solid;
    margin-bottom: 10px;
}
.container{
    margin: auto;
    /* align-self: center; */
    width: 70%;
    padding-bottom: 2em;
}
.login{
    margin: auto;
    align-content: center;
}
.switchButton{
    width: fit-content;
    margin: auto;
    align-content: center;
}
.container {
    object-fit:cover;
    object-position:50% 50%;
    position: relative;
    width: 150%;
     height: 500px;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
 }
 
 .image {
   display:block;
   width: 100%;
   height: 100%;
 }
 
 .overlay {
   position: absolute;
   bottom: 100%;
   left: 0;
   right: 0;
   background-color: #112D4E;
   overflow: hidden;
   width: 100%;
   height:0;
   transition: .5s ease;
 }
 
 .container:hover .overlay {
   bottom: 0;
   height: 100%;
 }
 
 
 .text {
   color: rgb(4, 0, 0);
   font-size: 15px;
   position: relative;
   top: 45%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
 }
 