<div id="fontSize" class="content" style="font-size: 100%;">
    <div class="container">
        <div>
            <div id="block-easy-breadcrumb-easy-breadcrumb">

                <div class="title-container">
                    <div>
                        <span>
                            <h1>Criteria for NGOs to register for STEP</h1>
                        </span>
                    </div>
                </div>

                <div class="scroll-table1">
                    <ul class="list-group">
                        <li class="list-group-item">Any Organisation registered under the Societies Registration
                            Act, 1860 or Indian Trusts Act,1882 (Not for Profit) or other statutes.</li>
                        <li class="list-group-item">Any Voluntary Organisations or Non-Government Organisations
                            enrolled under the Societies Registration Act or Indian Trust Act, and which undergoes
                            activities related to the objectives of the STEP scheme.</li>
                        <li class="list-group-item">Any co-operative Societies registered under the co-operative
                            societies Act.</li>
                        <li class="list-group-item">To start with, the concerned organization has to sign an
                            application in the NGO-Partnership Portal of the NITI Aayog along with the self-declared
                            details and obtain a Unique ID. The NGO should compulsorily specify the Unique ID at the
                            time of applying for grants</li>
                        <li class="list-group-item">The NGOs should update their database in the Portal every year
                        </li>
                        <li class="list-group-item">The organisation should have been in existence for a minimum of
                            3 years and must have carried out activities for implementing skills related to
                            employment and entrepreneurship during the last 3 years. Also, the organisation should
                            have had good financial health for at least the previous 2 years</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="login">
            <div *ngIf="logging">
                <app-ngo-login></app-ngo-login>
            </div>
            <div *ngIf="!logging">
                <app-ngo-register></app-ngo-register>
            </div>
            <div class="switchButton" >
                Or click here to <button (click)="switchComponent()" (click)="switchComponent">{{text}}</button>
            </div>
        </div>
    </div>
</div>