





<body>

    <!-- <h2  align="center">NGO Registration</h2> -->
    
    <div class="container">
     

      <div class="text">
    
    
        <div class="scroll-table1">
            <ul class="list-group">
                <li class="list-group-item">Any Organisation registered under the Societies Registration
                    Act, 1860 or Indian Trusts Act,1882 (Not for Profit) or other statutes.</li>
                <li class="list-group-item">Any Voluntary Organisations or Non-Government Organisations
                    enrolled under the Societies Registration Act or Indian Trust Act, and which undergoes
                    activities related to the objectives of the STEP scheme.</li>
                <li class="list-group-item">Any co-operative Societies registered under the co-operative
                    societies Act.</li>
                <li class="list-group-item">To start with, the concerned organization has to sign an
                    application in the NGO-Partnership Portal of the NITI Aayog along with the self-declared
                    details and obtain a Unique ID. The NGO should compulsorily specify the Unique ID at the
                    time of applying for grants</li>
                <li class="list-group-item">The NGOs should update their database in the Portal every year
                </li>
                <li class="list-group-item">The organisation should have been in existence for a minimum of
                    3 years and must have carried out activities for implementing skills related to
                    employment and entrepreneurship during the last 3 years. Also, the organisation should
                    have had good financial health for at least the previous 2 years</li>
            </ul>
        </div>
      </div>
      <div class="overlay">
        <img src="assets\NGO-Registration.jpg" alt="l&p" class="image">
        <div class="btn">
            <button
              [routerLink]="'/ngoLogin'"
              mat-raised-button
              color="primary"
              class="form-submit-button"
              type="submit"
            >
              LOGIN  / REGISTER
            </button>
      </div>
    </div>































<!-- <div id="fontSize" class="content" style="font-size: 100%;">
    <div class="container">
        <div>
            <div id="block-easy-breadcrumb-easy-breadcrumb">

                <div class="title-container">
                    <div>
                        <span>
                            <h1>Criteria for NGOs to register for STEP</h1>
                        </span>
                    </div>
                </div>

                <div class="scroll-table1">
                    <ul class="list-group">
                        <li class="list-group-item">Any Organisation registered under the Societies Registration
                            Act, 1860 or Indian Trusts Act,1882 (Not for Profit) or other statutes.</li>
                        <li class="list-group-item">Any Voluntary Organisations or Non-Government Organisations
                            enrolled under the Societies Registration Act or Indian Trust Act, and which undergoes
                            activities related to the objectives of the STEP scheme.</li>
                        <li class="list-group-item">Any co-operative Societies registered under the co-operative
                            societies Act.</li>
                        <li class="list-group-item">To start with, the concerned organization has to sign an
                            application in the NGO-Partnership Portal of the NITI Aayog along with the self-declared
                            details and obtain a Unique ID. The NGO should compulsorily specify the Unique ID at the
                            time of applying for grants</li>
                        <li class="list-group-item">The NGOs should update their database in the Portal every year
                        </li>
                        <li class="list-group-item">The organisation should have been in existence for a minimum of
                            3 years and must have carried out activities for implementing skills related to
                            employment and entrepreneurship during the last 3 years. Also, the organisation should
                            have had good financial health for at least the previous 2 years</li>
                    </ul>
                </div>
            </div>
        </div>

        <div style="margin-top: 1em;">
            <app-ngo-login></app-ngo-login>
        </div>
        //comment <div class="login">
            <div *ngIf="logging">
            </div>
            <div *ngIf="!logging">
                <app-ngo-register></app-ngo-register>
            </div>
            <div class="switchButton">
                Or click here to <button (click)="switchComponent()" (click)="switchComponent">{{text}}</button>
            </div>
        </div> //comment out
    </div>
</div> -->




<!-- <head>
    <meta name="abc" content="width=device-width, initial-scale=1">
    
    </head> -->
    <!-- <body>
    
    <h2  align="center">Legislation And Policy</h2>
    
    <div class="container">
       <img src="assets\legislation.png" alt="l&p" class="image"> 
       <app-ngo-login></app-ngo-login>
      <div class="overlay">
        <div class="text">
    
    
          <p>The adoption of an adequate institutional and legislative framework at national and regional level is the first priority and condition for an effective firearms control regime and the basis of an efficient criminal justice response to the illicit manufacturing of and trafficking in firearms, their parts and components and ammunition. The Legislative and Policy Development component constitutes therefore the first pillar of the Global Firearms Programme's (GFP) integrated approach to address the above-mentioned phenomena.
            Since its creation in 2011, the GFP has been promoting adherence to and implementation of the United Nations Convention Against Transnational Organized Crime (UNTOC), its supplementing Firearms Protocol and related global and regional instruments on conventional arms. The GFP has also supported regional legislative harmonization efforts and the adoption of national and regional action plans for the implementation of the aforementioned instruments.
            Upon request and in line with its mandate, the Programme has further been providing legislative assistance to countries wishing to harmonize their legislation with the UNTOC and the Firearms Protocol.
            
          In this context, it is crucial to note that transposition into law of the Firearms Protocol should not be regarded in isolation. Therefore, when providing legislative assistance to Member States, the GFP also takes into account other instruments on conventional arms (eg. the UN PoA, ITI, ATT, OAS CIFTA Convention, the ECOWAS Convention etc.) and instruments and policies on criminal justice (national criminal codes, etc.).
            GFP's support is based on an participatory process in which interested Member States carry out a legislative self-assessments, using questionnaires developed by UNODC. This information constitutes the essence of GFP's legislative assessment reports, gap analyses and recommendations for States to strengthen their national legislation on firearms, their parts and components and ammunition as well as other conventional weapons. Where requested, GFP further provides tailored legal drafting support.
            To facilitate the delivery of such assistance the Programme has developed several 
            <a href="/unodc/en/firearms-protocol/publications.html">legislative tools</a>. Regional harmonization efforts, have also been encouraged  through the development of legislative 
            <a href="/unodc/en/firearms-protocol/publications.html">comparative analyses</a> and the creation of dialogue platforms such as regional meetings and conferences.
            <br /> </p>
        </div>
      </div>
    </div>
     
    </body> -->

    <!-- <h2>NGO Registration</h2>

    
      <div class="column" style="background-color:#DBE2EF;">
        <ul class="list-group">
            <li class="list-group-item">Any Organisation registered under the Societies Registration
                Act, 1860 or Indian Trusts Act,1882 (Not for Profit) or other statutes.</li>
            <li class="list-group-item">Any Voluntary Organisations or Non-Government Organisations
                enrolled under the Societies Registration Act or Indian Trust Act, and which undergoes
                activities related to the objectives of the STEP scheme.</li>
            <li class="list-group-item">Any co-operative Societies registered under the co-operative
                societies Act.</li>
            <li class="list-group-item">To start with, the concerned organization has to sign an
                application in the NGO-Partnership Portal of the NITI Aayog along with the self-declared
                details and obtain a Unique ID. The NGO should compulsorily specify the Unique ID at the
                time of applying for grants</li>
            <li class="list-group-item">The NGOs should update their database in the Portal every year
            </li>
            <li class="list-group-item">The organisation should have been in existence for a minimum of
                3 years and must have carried out activities for implementing skills related to
                employment and entrepreneurship during the last 3 years. Also, the organisation should
                have had good financial health for at least the previous 2 years</li>
        </ul>
      </div>
      <div class="column" style="background-color:#DBE2EF;">
       <app-ngo-login></app-ngo-login>
      </div>
     -->
     <!-- <body>

        <h2>Criteria for NGOs to register for STEP</h2>
        
        <div class="row">
          <div class="column" style="background-color:#DBE2EF;">
            <!-- <img src="assets\legislation.png" alt="l&p" class="image"> -->
            <!-- <div class="overlay">
            <li class="list-group-item">Any Organisation registered under the Societies Registration
                Act, 1860 or Indian Trusts Act,1882 (Not for Profit) or other statutes.</li>
            <li class="list-group-item">Any Voluntary Organisations or Non-Government Organisations
                enrolled under the Societies Registration Act or Indian Trust Act, and which undergoes
                activities related to the objectives of the STEP scheme.</li>
            <li class="list-group-item">Any co-operative Societies registered under the co-operative
                societies Act.</li>
            <li class="list-group-item">To start with, the concerned organization has to sign an
                application in the NGO-Partnership Portal of the NITI Aayog along with the self-declared
                details and obtain a Unique ID. The NGO should compulsorily specify the Unique ID at the
                time of applying for grants</li>
            <li class="list-group-item">The NGOs should update their database in the Portal every year
            </li>
            <li class="list-group-item">The organisation should have been in existence for a minimum of
                3 years and must have carried out activities for implementing skills related to
                employment and entrepreneurship during the last 3 years. Also, the organisation should
                have had good financial health for at least the previous 2 years</li>
          
        </div>



          <div class="column" style="background-color:#DBE2EF;">
            <app-ngo-login></app-ngo-login>
          </div>
        </div>
        
        </body> -->










