.user-body-container {
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
}
.headig-underline {
  margin: 0.5rem 0;
  border: none;
  border-top-color: var(--primary-color);
  border-top-style: solid;
  border-top-width: 3px;
}
.user-body {
  margin-top: 5%;
  width: 90%;
  height: 70%;
  padding: 2rem 3rem;
}
.Para {
  margin-left: 1%;
  line-height: 40px;
  margin-top: 3%;
  font-size: 16px;
}
.form-submit-button {
  width: 10%;
  height: 40px;
}
.btn {
  margin-top: 5%;
  text-align: center;
}
