<div class="user-body-container">
  <mat-card class="user-body">
    <div class="title">
      <h2>ADMIN HOME PAGE</h2>
    </div>
    <hr class="headig-underline" />
    <div>
      <div class="Para">
        <p>Admin needs to login with valid credentials in the section.</p>
        <p>
          Admin Dashboard includes sections : NGO's, Accomodation, Sukanya
          Yojana, STEP.
        </p>

        <p>
          On Successful login admin will be able to see the list of all these
          sections.
        </p>
        <p>
          Admin will be able to add new record, update the existing record or
          delete a record.
        </p>
      </div>
      <div class="btn">
        <button
          [routerLink]="'/adminLoginLink'"
          mat-raised-button
          color="primary"
          class="form-submit-button"
          type="submit"
        >
          Login
        </button>
      </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-card>
</div>
