.user-body-container {
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #c75252;
}
#right {
  position: absolute;
  padding: 15px;
  top: 0;
  right: 0;
  color: #fafafa;
}
.topnav {
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
}
.text {
  text-align: end;
}
