<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="menu-spacer"></span>
      <div class="topnav">
        <div>
          <a mat-button [routerLink]="['./adminLandPage']">Home</a>
          <a mat-button [routerLink]="['./adminNgoLink']">NGO</a>
          <a mat-button [routerLink]="['./adminStepLink']">STEP</a>
          <a mat-button [routerLink]="['./adminSukayaYojanaLink']"
            >Sukaya Yojana</a
          >
          <a mat-button [routerLink]="['./adminAccomodationsLink']"
            >Accomodations</a
          >
        </div>
        <div id="right" class="text">Welcome, {{ username }}</div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
