
    <div class="container">
        <div class="div" *ngIf="errorMessage!==''|| errorMessage!==null || errorMessage!==undefined " style="color: red;">
            {{errorMessage}}
        </div>
        <form method="POST" (ngSubmit)="register()" action="./submissionPage.html">
            <h2 class="form-heading">Registration Form</h2>

            <!-- First Name -->
            <div class="form-element">
                <label for="bfc-name" >First Name</label>
                <input type="text" [(ngModel)]="sukanyaRegistration.firstName" id="bfc-name" name="bfc-name" placeholder="First Name.">
            </div>
            

            <!-- Last Name-->
            <div class="form-element">
                <label for="gc-name">Last Name</label>
                <input type="text" [(ngModel)]="sukanyaRegistration.lastName" id="gc-name" name="gc-name" placeholder="Last Name.">
            </div>

            <!-- Nationality -->
            <!-- <div class="form-element">
                <label for="nationality">Nationality</label>
                <select id="nationality" name="nationality">
                    <option value="india">India</option>
                    <option value="others">Others</option>
                </select>
            </div> -->
            
            <!-- Date Of Birth -->
            <div class="form-element">
                <label for="dob">Date Of Birth</label><br>
                <input type="date" [min]="minDate" [max]="maxDate" [(ngModel)]="sukanyaRegistration.dateOfBirth" id="dob" name="dob">
            </div> 

            <!-- Aadhar Number -->
            <div class="form-element">
                <label for="aadhar">Aadhar Number</label>
                <input type="number" maxlength="12" [(ngModel)]="sukanyaRegistration.aadharNumber" id="aadhar" name="aadhar" pattern="[0-9]{12}" placeholder="Aadhar Number">
            </div>

            <!-- Upload Proof (Girl Child) -->
            <!-- <div class="form-element">
                <label for="proof">Document Proof</label><br>
                <input type="file" id="proof" name="proof">
            </div> -->

            <!-- Register Button -->
            
            <div class="form-element">
            <mat-form-field class="columns">
                <mat-label *ngIf="selectedFiles; else newFile">{{selectedFiles[0].name}}</mat-label>
                <ng-template #newFile>
                    <mat-label>Choose file</mat-label>
                </ng-template>
                <input matInput disabled>
                <button mat-icon-button matSuffix (click)="fileInput.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                <input hidden (change)="selectFile($event)" #fileInput type="file" id="file">
            </mat-form-field>
            </div>
            <button type="submit" mat-raised-button color="primary" class="form-submit-button" style="align-self:center ;" value="Submit">Submit</button>

        </form>
    </div>