mat-form-field{
  width: 400px;
}
mat-card-title{
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container{
  width:90vw;
  margin:auto;
}
.card-details {
  padding: 16px;
}
.column-title {
  color: var(--primary);
}

.table {
  width: 90%;
  margin: auto;
}

.fields-row {
  display: flex;
  justify-content: space-evenly;
}
.card-button {
  background-color: #4122a8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}