<div>
  <div class="head">
    <p class="ht">WOMEN EMPOWERMENT</p>
  </div>
  <div class="row">
    <div class="column">
      <p class="para">
        The Department of Women and Child Development, Government of India, came
        into existence as a separate Ministry with effect from 30th January,
        2006, earlier since 1985 it was a Department under the Ministry of Human
        Resources Development. The Ministry was constituted with the prime
        intention of addressing gaps in State action for women and children for
        promoting inter-Ministerial and inter-sectoral convergence to create
        gender equitable and child-centred legislation, policies and programmes.
      </p>
    </div>
    <div class="column">
      <custom-carousel [images]="images" [height]="height"></custom-carousel>
    </div>
  </div>
</div>
