<div class="form-container">
  <form
    action=""
    class="form-style"
    #passwordChangeForm="ngForm"
    (ngSubmit)="changePassword()"
  >
    <span class="fields-row">
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput name="userEmail" [(ngModel)]="userEmail" />
      </mat-form-field>
      <span class="form-field-space"></span>
      <mat-form-field appearance="standard">
        <mat-label>Old Password</mat-label>
        <input
          matInput
          [type]="showOldPassword ? 'text' : 'password'"
          name="password"
          [(ngModel)]="updatePasswordDetails.password"
        />
        <mat-icon matSuffix (click)="toggleOldPasswordVisibility()">
          {{ showOldPassword ? "visibility_off" : "visibility" }}
        </mat-icon>
      </mat-form-field>
    </span>
    <span class="fields-row">
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="showRegisterPassword ? 'text' : 'password'"
          name="newPassword"
          [(ngModel)]="newPassword"
        />
        <mat-icon matSuffix (click)="toggleRegisterPasswordVisibility()">
          {{ showRegisterPassword ? "visibility_off" : "visibility" }}
        </mat-icon>
      </mat-form-field>
      <span class="form-field-space"></span>
      <mat-form-field appearance="standard">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          [type]="showRegisterConfirmPassword ? 'text' : 'password'"
          name="confirmNewPassword"
          [(ngModel)]="confirmNewPassword"
        />
        <mat-icon matSuffix (click)="toggleRegisterConfirmPasswordVisibility()">
          {{ showRegisterConfirmPassword ? "visibility_off" : "visibility" }}
        </mat-icon>
      </mat-form-field>
    </span>
    <button class="update-detail-button" mat-raised-button color="primary">
      Update
    </button>
  </form>
</div>
