.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.form-style {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.update-detail-button {
  margin: 1rem 0;
  width: 6rem;
  align-self: flex-end;
}

.fields-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.form-field-space {
  margin: 2%;
}

.radio-btn-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

mat-radio-button {
  margin: 1rem;
}
