mat-toolbar {
    background: #002b5c;
    color: white;
        text-align: center;
        
        margin: 100;
        padding: 50px;
        display: inline-block;
      
  }
  .menu-spacer{
       color: white;
        text-align: center;
        padding: 180px;
        margin: 100;
        
  }

  .logo-image{
    width: 40px;
    height: 60px;
    border: radius 2px;
     overflow:hidden ;
    margin-top: -6px;
}
  .h6{
    font-size: 100px;
  }

  
  mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }
  


  .content {
    height: calc(100vh - 130px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
  
    padding: 16px;
  
    overflow: auto;
  }
  
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  
  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  
    mat-icon {
      margin-right: 8px;
    }
  }
  
  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  
  
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }