<!-- <app-main-nav></app-main-nav> -->

<mat-toolbar color="#004a9f">

  <h6 style="font-size:3vw">MINISTRY OF WOMEN AND CHILD DEVELOPMENT </h6>
      <br/>
  <h6 style="font-size:2.7vw;color: #3F72AF;">Empowered Women Living With Dignity </h6>
  
  <!-- <mat-toolbar-row>
    <span style="font-size: 35px; padding: 400px ;color: #3F72AF;"> Empowered Women Living With Dignity</span>
  </mat-toolbar-row> -->

  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    
    <a class="navbar-brand" href="/">
      <div class="logo-image">
            <img src="assets\a-new-dawn.png" class="img-fluid">
      </div>
</a>
    <span class="menu-spacer"></span>
    <div >
      <br/><br/>
      <a mat-button [routerLink]="'/AboutUs'" > About Us </a>
      <a mat-button [routerLink]="'/legislation'"> Legislations and Policy </a>
      <a mat-button [routerLink]="'/stepHome'"> STEP </a>
      <a mat-button [routerLink]="'/ngo/home'"> NGO </a>
      <a mat-button [routerLink]="'/AboutAdmin'"> ADMIN </a>
      <a mat-button [routerLink]="'/faq'"> FAQ </a>

    </div>
  </mat-toolbar-row>

  
</mat-toolbar>

<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/AboutUs'"> About Us  </a>
      <a mat-list-item [routerLink]="'/Legislation'"> Legislation  and Policy </a>
      <a mat-list-item [routerLink]="'/step'"> STEP </a>
      <a mat-list-item [routerLink]="'/ngo'"> NGO </a>
      <a mat-list-item [routerLink]="'/admin'"> ADMIN</a>
      <a mat-list-item [routerLink]="'/faq'"> FAQy </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="assets\a-new-dawn.png"
    />

   

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="/Aboutus">
      <mat-icon>info</mat-icon>
      <span>About Us</span>
    </button>
    <button mat-button class="menu-button" routerLink="/legislation">
      <mat-icon>business</mat-icon>
      <span>Legislation and Policy</span>
    </button>
    <button mat-button class="menu-button" routerLink="/stepHome">
      <mat-icon>view_module</mat-icon>
      <span>STEP</span>
    </button>
    <button mat-button class="menu-button" routerLink="/ngo/home">
      <mat-icon>visibility</mat-icon>
      <span>NGO</span>
    </button>
    <button mat-button class="menu-button" routerLink="/AboutAdmin">
      <mat-icon>account_circle</mat-icon>
      <span>ADMIN</span>
    </button>
    <button mat-button class="menu-button" routerLink="/faq">
      <mat-icon>help</mat-icon>
      <span>FAQ</span>
    </button>
    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>

<!-- <router-outlet></router-outlet> -->
