<div>
  <div class="main">
    <div>
      <h2 style="text-align: center">Login ADMIN</h2>
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <div class="container">
          <div>{{ errorMessage }}</div>
          <label for="uname"><b>Username</b></label>
          <input
            type="text"
            placeholder="Enter Username"
            name="adminname"
            required
            name="adminname"
            [(ngModel)]="admin.adminname"
            #uname="ngModel"
            pattern="[a-zA-Z]*$"
          />
          <div *ngIf="uname.invalid && (uname.dirty || uname.touched)">
            <div *ngIf="uname.errors?.['required']" style="color: red">
              Enter name
            </div>
            <div *ngIf="uname.errors?.['pattern']" style="color: red">
              Invalid name
            </div>
          </div>
          <label for="psw"><b>Password</b></label>
          <input
            type="password"
            placeholder="Enter Password"
            name="password"
            required
            name="password"
            [(ngModel)]="admin.password"
            #upass="ngModel"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          />
          <div *ngIf="upass.invalid && (upass.dirty || upass.touched)">
            <div *ngIf="upass.errors?.['required']" style="color: red">
              Enter password
            </div>
            <div *ngIf="upass.errors?.['pattern']" style="color: red">
              Invalid password
            </div>
          </div>

          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember" /> Remember
            me
          </label>
        </div>

        <div class="container" style="background-color: #f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>
  </div>
</div>
