<div class="user-body-container">
  <mat-card class="user-body">
    <h2>ADMIN LOGIN</h2>
    <hr class="headig-underline" />
    <div class="login-form">
      <form
        #loginForm="ngForm"
        (ngSubmit)="login()"
        action=""
        class="form-style"
      >
        <div>{{ errorMessage }}</div>
        <mat-form-field appearance="standard">
          <mat-label><b>Admin Name</b></mat-label>
          <input
            matInput
            type="text"
            style="text-align: center; font-size: 20px"
            placeholder="Enter Username"
            name="adminname"
            required
            name="adminname"
            [(ngModel)]="admin.adminname"
            #uname="ngModel"
            pattern="[a-zA-Z]*$"
          />
        </mat-form-field>
        <div *ngIf="uname.invalid && (uname.dirty || uname.touched)">
          <div *ngIf="uname.errors?.['required']" style="color: red">
            Enter name
          </div>
          <div *ngIf="uname.errors?.['pattern']" style="color: red">
            Invalid name
          </div>
        </div>

        <!-- Password -->
        <mat-form-field appearance="standard">
          <mat-label for="psw"><b>Password</b></mat-label>
          <input
            matInput
            type="password"
            [type]="showLoginPassword ? 'text' : 'password'"
            placeholder="Enter Password"
            name="password"
            style="text-align: center; font-size: 20px"
            required
            name="password"
            [(ngModel)]="admin.password"
            #upass="ngModel"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          />
          <mat-icon matSuffix (click)="toggleLoginPasswordVisibility()">
            {{ showLoginPassword ? "visibility_off" : "visibility" }}
          </mat-icon>
        </mat-form-field>

        <div *ngIf="upass.invalid && (upass.dirty || upass.touched)">
          <div *ngIf="upass.errors?.['required']" style="color: red">
            Enter password
          </div>
          <div *ngIf="upass.errors?.['pattern']" style="color: red">
            Invalid password
          </div>
        </div>

        <button
          class="form-submit-button"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Login
        </button>
        <div class="psw" style="background-color: #f1f1f1">
          <div>
            <label>
              <input type="checkbox" checked="checked" name="remember" />
              Remember me
            </label>
          </div>
          <div>
            <div>
              <span>
                <a
                  href="#"
                  style="text-decoration: none"
                  mat-raised-button
                  color="primary"
                  >Forgot Password ?</a
                ></span
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </mat-card>
</div>
